

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
p, text, h1,h2,h3,h4,h5,div{
  color: #ededed;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #282828;
}

.App {
  width: 100vw;
  height: 100vh;
  
}
.z0 {
  z-index: 1;
}
.z1 {
  z-index: 2;
}
.z2 {
  z-index: 3;
}

.z3 {
  z-index: 4;
}

.z4 {
  z-index: 5;
}

.z5 {
  z-index: 6;
}

.z6 {
  z-index: 7;
}

.z7 {
  z-index: 8;
}

.z8 {
  z-index: 9;
}

.z9 {
  z-index: 10;
}

.z10 {
  z-index: 11;
}
.z11 {
  z-index: 12;
}
.z12 {
  z-index: 13;
}
.z13 {
  z-index: 14;
}
.z14 {
  z-index: 15;
}
.z15 {
  z-index: 16;
}
.z16 {
  z-index: 17;
}
.z17 {
  z-index: 18;
}
.z18 {
  z-index: 19;
}
.z19 {
  z-index: 20;
}
.z20 {
  z-index: 21;
}

.pixelart {
  image-rendering: pixelated;
}